---
import '../styles/global.css';
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import VideoPlayer from '../components/VideoPlayer.astro';
// import ColumnChart from '../components/GraphsCharts.astro';
// import AllEvents from '../components/AllEvents';
import CardGroup from '../components/CardGroup.astro';

import { eventTotals } from '../../public/event-data.json';
import ChartComponent from '../components/ChartComponent';
import HeatMap from '../components/HeatMap';

const recEvents = [
		{ src: 'https://archive.org/download/BigBuckBunny_124/Content/big_buck_bunny_720p_surround.mp4', title: 'Sep 4', length: '00:35', thumbnail: 'src/images/2024-06-25.png' },
    { src: 'http://vjs.zencdn.net/v/oceans.mp4', title: 'Sep 4', length: '00:35', thumbnail: 'src/images/2024-06-25.png' },
    { src: 'http://vjs.zencdn.net/v/oceans.mp4', title: 'Sep 4', length: '00:35', thumbnail: 'src/images/2024-06-25.png' },
    { src: 'http://vjs.zencdn.net/v/oceans.mp4', title: 'Sep 4', length: '00:35', thumbnail: 'src/images/2024-06-25.png' },
    { src: 'http://vjs.zencdn.net/v/oceans.mp4', title: 'Sep 4', length: '00:35', thumbnail: 'src/images/2024-06-25.png' },
    { src: 'http://vjs.zencdn.net/v/oceans.mp4', title: 'Sep 4', length: '00:35', thumbnail: 'src/images/2024-06-25.png' },
    { src: 'http://vjs.zencdn.net/v/oceans.mp4', title: 'Sep 4', length: '00:35', thumbnail: 'src/images/2024-06-25.png' },
    { src: 'http://vjs.zencdn.net/v/oceans.mp4', title: 'Sep 4', length: '00:35', thumbnail: 'src/images/2024-06-25.png' },
    { src: 'http://vjs.zencdn.net/v/oceans.mp4', title: 'Sep 4', length: '00:35', thumbnail: 'src/images/2024-06-25.png' },
    { src: 'http://vjs.zencdn.net/v/oceans.mp4', title: 'Sep 4', length: '00:35', thumbnail: 'src/images/2024-06-25.png' },
    { src: 'http://vjs.zencdn.net/v/oceans.mp4', title: 'Sep 4', length: '00:35', thumbnail: 'src/images/2024-06-25.png' },
    { src: 'http://vjs.zencdn.net/v/oceans.mp4', title: 'Sep 4', length: '00:35', thumbnail: 'src/images/2024-06-25.png' }
];

const population = eventTotals.population;
const vetrans = Math.round(population * 0.046);
const daysTotal = eventTotals.daysTotal;
const eventsTotal = eventTotals.eventsTotal;
const content = [
	{
    data: `~${population}`,
    title: "Neighbors",
    desc: "This data only reflects only the Old Town neighborhood and not the entire city of Livermore.* If data was aquired city wide, the number of affected residence would be much higher.",
    footnote: `* Estimated population aquired using <a href="https://www.maps.ie/population/">maps.ie</a>`
  },
  {
    data: `${vetrans}`,
    title: "Veterans",
    desc: "Based on census data of 4.6% of residents. Higher percentage than anywhere in the Bay Area. Half of these veterans are from Vietnam, Gulf, Afganistan, and Iraq wars.†",
    footnote: `† Census Reporter data from 2022 <a href="https://censusreporter.org/profiles/16000US0641992-livermore-ca/">Source</a>`
  },
  {
    data: `${daysTotal}`,
		title: "Days of Fireworks",
    desc: `There have been a total of ${daysTotal} days since June 25, 2024 with fireworks detnated. AI sound analysation was set for Explosions, due to the mortars not triggering fireworkd sound models.`
  },
  {
    data: `${eventsTotal}`,
    title: "Total Events",
    desc: "Events are recordings of fireworks detected, not individual fireworks. Meaning, there are much more being detnated."
  }
]

---

<Layout title="North Livermore Cares">
	<h1>Livermore <span class="text-gradient">Fireworks</span></h1>
	<div class="intro-text">
		<p>The Old Town neighborhood has taken advantage of the lack of basic enforcement and proper punishments for misdemeanors and felonies.</p>
		<p>Unregulated parties and loud music sets the precident of lawless behavior without any concern or compassion for their fellow neighbors.</p>
	</div>
	<main>
		<CardGroup content={content} />
		<VideoPlayer playlist={recEvents}/>
		<ChartComponent client:only="react"/>
		<HeatMap client:only="react"/>
		<!-- <AllEvents client:only="react"/> -->
		<h2 class="text-center">Related Articles</h2>
		<ul role="list" class="link-card-grid">
			<Card
				href="https://fox40.com/news/local-news/more-citations-coming-in-northern-california-after-drone-reveals-illegal-fireworks-use/amp/"
				title="Increased Fines Combat Fireworks"
				body="Learn how Sacramento Fire Department is using undercover officials working to secretly capture video and cite people for setting off illegal fireworks."
			/>
			<Card
				href="https://astro.build/integrations/"
				title="Success with Tracy Ca"
				body="Supercharge your project with new frameworks and libraries."
			/>
			<Card
				href="https://fox40.com/news/local-news/more-citations-coming-in-northern-california-after-drone-reveals-illegal-fireworks-use/amp/"
				title="Increased Fines Combat Fireworks"
				body="Learn how Sacramento Fire Department is using undercover officials working to secretly capture video and cite people for setting off illegal fireworks."
			/>
			<Card
				href="https://astro.build/integrations/"
				title="Success with Tracy Ca"
				body="Supercharge your project with new frameworks and libraries."
			/>
			<Card
				href="https://astro.build/integrations/"
				title="Success with Tracy Ca"
				body="Supercharge your project with new frameworks and libraries."
			/>
		</ul>

	</main>
	<footer>
		<p>Footer</p>
	</footer>
</Layout>

